@font-face {
  font-family: 'Montserrat';
  src: url($text-font-path + '/montserrat/Montserrat-Regular.eot?#iefix') format('embedded-opentype'),
    url($text-font-path + '/montserrat/Montserrat-Regular.woff') format('woff'),
    url($text-font-path + '/montserrat/Montserrat-Regular.ttf')  format('truetype'),
    url($text-font-path + '/montserrat/Montserrat-Regular.svg#Montserrat-Regular') format('svg');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url($text-font-path + '/montserrat/Montserrat-Italic.eot?#iefix') format('embedded-opentype'),
    url($text-font-path + '/montserrat/Montserrat-Italic.woff') format('woff'),
    url($text-font-path + '/montserrat/Montserrat-Italic.ttf')  format('truetype'),
    url($text-font-path + '/montserrat/Montserrat-Italic.svg#Montserrat-Italic') format('svg');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Montserrat';
  src: url($text-font-path + '/montserrat/Montserrat-Medium.eot?#iefix') format('embedded-opentype'),
    url($text-font-path + '/montserrat/Montserrat-Medium.woff') format('woff'),
    url($text-font-path + '/montserrat/Montserrat-Medium.ttf')  format('truetype'),
    url($text-font-path + '/montserrat/Montserrat-Medium.svg#Montserrat-Medium') format('svg');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url($text-font-path + '/montserrat/Montserrat-MediumItalic.eot?#iefix') format('embedded-opentype'),
    url($text-font-path + '/montserrat/Montserrat-MediumItalic.woff') format('woff'),
    url($text-font-path + '/montserrat/Montserrat-MediumItalic.ttf')  format('truetype'),
    url($text-font-path + '/montserrat/Montserrat-MediumItalic.svg#Montserrat-MediumItalic') format('svg');
  font-weight: 600;
  font-style: italic;
}
