.q-textarea .q-field__native
  padding-top: 6px

.input-sm
  .q-field__control
    height: 2em

    input
      font-size: 100%

  .q-field__marginal
    height: 90%
    font-size: 120%

.input-xl
  .q-field__control
    height: 8em

    input
      font-size: 400%

  .q-field__marginal
    height: 90%
