// app global css
@import "quasar.variables"

@import "pieces/buttons"
@import "pieces/cards"
@import "pieces/colors"
@import "pieces/flip"
@import "pieces/forms"
@import "pieces/hover-color"
@import "pieces/hover-zoom"
@import "pieces/icons"
@import "pieces/lists"
@import "pieces/ribbons"
@import "pieces/scrollbars"
@import "pieces/tables"
@import "pieces/type"

.q-ma-none
  margin: 0 !important

.q-pa-none
  padding: 0 !important

.auto-max-width
  max-width: initial !important

.full-max-width
  max-width: 100% !important
  left: 0 !important
  right: 0 !important

.full-max-height
  max-height: 100% !important

.inset-shadow-15
  box-shadow: 0 7px 25px -7px rgba(0, 0, 0, 0.7) inset !important

.hover-spin
  transform: rotate(0deg)
  transition: transform 1s ease-in-out

  &:hover
    transform: rotate(720deg)

.q-item:hover
  .hover-spin
    transform: rotate(720deg)

.overflow-hidden-x
  overflow-x: hidden !important
