// Quasar Stylus Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Stylus variables found in Quasar's source Stylus files.

// Check documentation for full list of Quasar variables

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

$text-font-path = './fonts'

$primary = #ff7800
$secondary = #ff009a
$accent = #3097d1

$positive = #2ab27b
$negative = #bf5329
$info = #3097d1
$warning = #cbb956

$white = #ffffff
$black = #000000
$gray = #636b6f
$light = #f8f8f8
$dark = #222222
$faded = #cccccc

$facebook = #3b5998
$twitter = #1da1f2
$linkedin = #0a66c2
$google = #ea4335

$typography-font-family = 'Montserrat', '-apple-system', 'Helvetica Neue', Helvetica, Arial, sans-serif
$body-font-size = 16px
$button-font-size = 16px
$toolbar-title-font-size = 23px
$tooltip-fontsize = 12px
$tooltip-mobile-fontsize = 14px

$headings = {
  h1: {
    size: 4rem,
    line-height: 4rem,
    weight: 300,
    letter-spacing: -.01562em
  },
  h2: {
    size: 2.5rem,
    line-height: 2.5rem,
    letter-spacing: -.00833em,
    weight: 300
  },
  h3: {
    size: 3rem,
    line-height: 3.125rem,
    letter-spacing: normal,
    weight: 400
  },
  h4: {
    size: 2.125rem,
    line-height: 2.5rem,
    letter-spacing: .00735em,
    weight: 400
  },
  h5: {
    size: 1.5rem,
    line-height: 2rem,
    letter-spacing: normal,
    weight: 400
  },
  h6: {
    size: 1.25rem,
    line-height: 2rem,
    letter-spacing: .0125em,
    weight: 500
  },
  subtitle1: {
    size: 1.25rem,
    line-height: 2rem,
    letter-spacing: .00937em,
    weight: 400
  },
  subtitle2: {
    size: .875rem,
    line-height: 1.375rem,
    letter-spacing: .00714em,
    weight: 500
  },
  body1: {
    size: 1rem,
    line-height: 1.5rem,
    letter-spacing: .03125em,
    weight: 400
  },
  body2: {
    size: .875rem,
    line-height: 1.25rem,
    letter-spacing: .01786em,
    weight: 400
  },
  overline: {
    size: .75rem,
    line-height: 2rem,
    letter-spacing: .16667em,
    weight: 500
  },
  caption: {
    size: .75rem,
    line-height: 1.25rem,
    letter-spacing: .03333em,
    weight: 400
  }
}
